<header>
  <ul class="text-center list-inline py-3">
    <li class="list-inline-item">
      <a routerLink="/users" class="btn btn-info">Список пользователей</a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/adduser" class="btn btn-info">Регистрация</a>
    </li>
    <li class="list-inline-item">
      <a routerLink="/validuser" class="btn btn-info">Вход в систему</a>
    </li>
  </ul>
</header>
<article>
  <router-outlet></router-outlet>
</article>
<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">Список пользователей</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Регистрация</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/validuser" class="btn btn-info">Вход в систему</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
-->
